body {
  font-family: 'Pretendard', sans-serif;
}

/* Login.js - Mobile Responsive */
@media (max-width: 576px) {
  .login-card .card-body {
    padding: 2rem !important;
  }

  .login-card {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}