body {
  margin: 0;
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔고딕", "Dotum", "돋움", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
